@import "../../../../../landing/signInModule/stylesVariables.scss";
@import "../../../../../landing/signInModule/global.scss";

.modalBackdrop {
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  height: 100vh;
  left: 0;
  position: fixed;
  justify-content: center;
  top: 0;
  width: 100vw;
  z-index: 1000;
  
  .modalContent {
    background: $tertiary;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding: 20px 25px;
    position: relative;
    width: 80%;
    z-index: 1001;

    .closeButton {
      background: none;
      border: none;
      cursor: pointer;
      font-size: 16px;
      position: absolute;
      right: 10px;
      top: 10px;
      
      img {
        height: 15px;
        filter: invert(10%) sepia(33%) saturate(3192%) hue-rotate(225deg) brightness(81%) contrast(100%); 
        transition: all 0.2s ease-in-out;
        width: 15px;

        &:hover {
          filter: brightness(0) saturate(100%) invert(58%) sepia(20%) saturate(5091%) hue-rotate(17deg) brightness(100%) contrast(98%);
        }
      }
    }

    .headerBg {
      margin: 0 0 15px 15px;

      .txtTitle {
        background-color: $tertiary;
        border-radius: 20px;
        font-size: 20px;
        padding: 0 5px;
        position: absolute;
        height: 30px;
      }
    }
    

    .imageCarousel {
      display: flex;
      flex-direction: column;
      gap: 5px;
      max-width: 490px;
      z-index: -1;

      .imageContainer {
        width: 100%; 

        .slickSlide {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .carouselImage {
          width: 100%;
          border-radius: 20px;
          max-height: 300px;
          height: 50%;
          object-fit: cover;
          // width: 100%;
        }

        // IF NO IMAGE IS UPLOADED
        .noImg {
          background-color: $outOfFocus;
          border-radius: 20px;
          align-items: center;
          display: flex;
          justify-content: center;
          height: 200px;
          width: 100%;
          margin-bottom: 20px;
  
          span {
            font-size: 15px;
          }
        }
      }
    }

    .infoContainer {
      align-self: center;
      background-color: black;
      border-radius: 10px 70px 0 0;
      // margin-bottom: -20px;
      margin-top: 10px;
      max-width: 510px;
      padding: 10px 22px 0 22px;
      transition: all 0.2s ease-in-out;
      width: 100%;

      .description, .technologies {
        height: 100%;

        .txtSubTitle {
          color: $tertiary;
          font-size: 8px;
          margin-bottom: 15px;
          margin-top: 10px;
          width: 80%;
        }
      }

      .btns {
        margin-top: 20px;
        display: flex;
        margin-left: -10px;

        li {
          color: $tertiary;
          list-style-type: none;

          span {
            border-radius: 7px 7px 0 0;
            font-family: $title;
            font-size: 9px;
            margin-right: 5px;
          }

          .descBtn {
            background-color: black;
            padding: 5px 10px 0 10px;
          }

          .techBtn {
            background-color: $primary;
            padding: 5px 10px 0 10px;
          }
        }
      }

      .speaker {
          background-color: $primary;
          border-radius: 50%;
          height: 35px;
          right: 12%;
          position: absolute;
          top: 80%;
          transition: all 0.2s ease-in-out;
          width: 35px;

          .icon {
            height: 20px;
            width: 20px;
          }

          &:hover {
            scale: 1.1;
          }
        }
    }

    .infoContainer.active {
      background-color: $primary;
    }
  }
}

.line { //line separator
  border-bottom: 1px solid $outOfFocus;
  width: 60%;
}

// RESPONSIVE DESIGN

@media (min-width: 576px) {
  .modalBackdrop {
    .modalContent {
        .headerBg {
          .txtTitle {
            font-size: 30px;
            height: 40px;
            padding: 0 10px;
          }
        }

        .infoContainer {
          .description, .technologies {
            .txtSubTitle {
              font-size: 10px;
            }
          }
          
          .btns {
            li {
              span {
                border-radius: 10px 10px 0 0;
                font-size: 12px;
              }
            }
          }

          .speaker {
            height: 50px;
            top: 82%;
            width: 50px;
          }
        }
    }
  }
}

@media (min-width: 768px) {
  .modalBackdrop {
    .modalContent {

        .infoContainer {
          .description, .technologies {
            .txtSubTitle {
              font-size: 12px;
            }
          }

          .speaker {
            top: 85%;
          }
        }
    }
  }
}
