.marker {
    position: absolute;
    transform: translate(-50%, -100%);
    z-index: 10;
    width: 4rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .marker img {
    width: 2rem;
    height: 2rem;
  }
  .marker:hover{
    cursor: pointer;
  }

  
  .tooltip {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    pointer-events: none; /* Prevent blocking marker events */
    z-index: 11; /* Higher than the marker's z-index */
    transform: translate(-120%, -120%); /* Position above the marker */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .tooltipHover {
    opacity: 1;
  }
  