@import "../../../../landing/signInModule/stylesVariables.scss";
@import "../../../../landing/signInModule/global.scss";

.popupContent {
    background-color: $tertiary;
    border-radius: 20px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.23);
    height: 430px;
    margin: 25px 25px 25px 0;
    padding: 20px 25px;
    position: relative;
    max-width: 300px;

    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.23);

    .closeBtn {
        right: 0.3rem;    
        padding: 10px 10px;
        position: absolute;
        top: 0.3rem;
        z-index: 1;
        
        img {
            height: 20px;
            filter: invert(10%) sepia(33%) saturate(3192%) hue-rotate(225deg) brightness(81%) contrast(100%); 
            transition: all 0.2s ease-in-out;
            width: 20px;
        }
    }

    .popupImage {
        margin: -20px -25px 0 -25px; 
        position: relative;
        width: calc(100% + 50px);
        img{
            border-radius: 20px 20px 0 0;
            width: 100%;
        }
    }

    .cont1 {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 10.7rem;
        margin: 15px 0;

        .btns {
            display: flex;
            flex-direction: column;
            margin: 10px 5px 10px 0;
            position: absolute;
            right: -1.7rem;

            button {
                background-color: $primary;
                border-radius: 50%;
                box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.23);
                margin: 6px 0;
                padding: 10px;
                transition: all 0.2s ease-in-out;

                -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.23);
                -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.23);

                .icon {
                    height: 32px;
                    width: 32px;
                }

                &:hover {
                    scale: 1.1;
                }
            }
        }

        .txtTitle {
            font-size: 30px;
            line-height: 1;
            margin-bottom: 5px;
            text-align: center;
        }

        .quickFacts {
            font-family: $subTitle;
            font-size: 13px;
            justify-self: center;
            margin-top: 5px;
            width: 210px;

        }

        .fullDeets {
            align-self: flex-end;
            margin-top: auto;

            .deets {
                transition: all 0.2s ease-in-out;

                p {
                    color: $primary;
                    font-family: $title;
                }

                &:hover {
                    scale: 1.1;
                }
            }
        }
    }
}

button {
    background: transparent;
    border: 0;
    cursor: pointer;
}

.line { //line separator
    border-bottom: 2px solid $outOfFocus;
    width: 93%;
}
