
.popupContent{
    position: relative;
    border-radius: 5px;
    padding: 25px 20px 25px 20px;
    background-color: #e1e1e1;
    width: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.23);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.23);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.23);
}
.closeBtn{
    position: absolute;
    top: 0.5rem;
    right: 0.3rem;
    img{
        width: 90%
    }
}

.popupImage{
    width: 100%;
    img{
        border-radius: 5px;
        width: 100%;
    }
}

.cont1{
    height: 2.5rem;
    display: flex;
    align-items: center;
    h1{
        width: 50%;
        align-content: center;
        font-size: 1.25rem;
    }
    .weather{
        width: 50%;
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: end;
        .logo{
            width: 1.5rem;
            img{
                width: 100%
            }
        }
        .weatherDeets{
            display: flex;
            flex-direction: column;
            justify-content: center;
            p{
                font-size: 0.6rem;
                margin: 0;
            }
        }
    }
}

hr{
    border: none;
    height: 2px;
    background-color: #cabdbd;
}

.cont2{
    padding: 0.5rem 0rem 0.5rem 0rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2{
        font-size: 1rem;
    }
    .btns{
        display: flex;
        gap: 0.3rem;
        img{
            width: 1.5rem;
        }
    }
}

button{
    background: transparent;
    border: 0;
    cursor: pointer;
}

.fullDeets{
    display: flex;
    justify-content: right;
    .deets{
        color: blue;
    }
}

p{
    margin: 0px;
}

a{
    text-decoration: none;
    color: blue;
}