@import '../../../../landing/signInModule/stylesVariables.scss';


.rootNavigation {
    width: 100%;
}

.navBar {
    align-items: center;
    display: flex;
    height: 110px;
    justify-content: space-between;
    padding: 30px 30px;
    pointer-events: none; //!important
    position: absolute;
    width: 100%;
    z-index: 99;

    div {
        align-items: center;
        display: flex;
    }

    ul {
        display: flex;
        list-style-type: none;
    }

    li {
        align-items: center;
        display: flex;
        justify-content: center;
        padding: 0 10px;
        pointer-events: all; //!important
    }
}

// general icon styles
.icon {  
    img {
        height: 20px;
        width: 20px;
    }
}

// specific icon styles
.icon.user { //add a dropdown for the user icon
    background-color: $guest;
    border-radius: 50%;
    height: 50px;
    margin: 0 0 0 10px;
    width: 50px;

    img {
        height: 25px;
        width: 25px;
    }
}

.icon.hamburger {
    background-color: $primary;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    img {
        height: 20px;
        width: 20px;
    }
    
}

// RESPONSIVE DESIGN 

@media (min-width: 992px) {
    .navBar {
        height: 150px;
        padding: 50px;

        .icon.user {
            height: 60px;
            width: 60px;

            img {
                height: 30px;
                width: 30px;
            }
        }

        .icon.hamburger {
            height: 70px;
            width: 70px;

            img {
                height: 30px;
                width: 30px;
            }
        }
    }
    
}