@import '../../ThreeCanvas.scss';



.button{
    position: absolute;
    z-index: 12;
    border: 2px solid red;
    top: 50%;
    // &.active{
    //   position: absolute;
    // }
}

.container{
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 11;
  display: none;
  transition: opacity 150ms ease-in-out;
  transform: translateY(-50%);
  flex-direction: column;

  .close{
    color: $tertiary;
    border-radius: 5px 5px 0px 0px;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
    
    &:hover{
      background-color: rgba(41, 41, 41, 0.7);
    }
  }
}

.markerBar{
  display: flex;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 0px 0px 5px 5px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    flex-direction: column;
    gap: 1rem;
    opacity: 1;
    height: fit-content;
    
    // &.active{
    //   display: flex;
    // }
}

.markerIcon{
    display: flex;
    img{
        width: 2rem;
        height: 2rem;
    }
    :hover{
        cursor: pointer;
    }
}

.modalWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1002;
  }
  
  .modal {
    font-family: $title;
    background-color: $primary;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border: 4px solid $background;
    color: $background;
  }
  
  .modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;

    label{
      color: $tertiary;
    }
    input{
      text-align: center;
    }
    button{
      background-color: $secondary;
      color: $primary;
      border: none;
      border-radius: 5px;
      padding: 5px 10px;
      margin-top: 10px;
      cursor: pointer;
      font-family: $subTitle;
    }

    .modalButtons{
      display: flex;
      gap: 10px;
    }
  }
  
  .button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border: none;
    background-color: $primary;
    color: $secondary;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
    width: 3rem;
    gap: 10px;
    span{
      font-size: .6rem;
    }
    img{
      margin-top: 5px;
      width: 80%;
    }
  }