@import '../../../stylesVariables.scss';
@import '../../../global.scss';

.secondContainer {
    align-items: center;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 21px;
    text-align: center;

    img {
        height: 40px;
        margin-top: 1.25rem;
        width: 40px;
    }

    .txtTitle {
        font-size: 30px;
        color: $tertiary;
    }

    .txtSubtitle {
        font-size: 13px;
        color: $tertiary;
        font-family: $subTitle;
        user-select: none;
    }
}

@media (min-width: 576px) {
    .secondContainer {

        img {
            height: 4.375rem;
            width: 4.375rem;
        }

        .txtTitle {
            font-size: 40px;
        }

        .txtSubTitle {
            font-size: 15px;
        }
    }
}

@media (min-width: 768px) {
    .secondContainer {
        flex: 1;
        flex-grow: 1;
    }
}