node_modules
.env
uploads/cardsImg/*
uploads/images/*
uploads/modalImages/*
uploads/audios/*
uploads/icons/*
uploads/*

!uploads/cardsImg/
!uploads/images/
!uploads/modalImages/
!uploads/audios/
!uploads/icons/
!uploads/

archives/cardsImg/*
archives/images/*
archives/modalImages/*
archives/

!archives/cardsImg/
!archives/images/
!archives/modalImages/
!archives/

!archives/audios/
!archives/icons/

archives/audios/*
archives/icons/*