// colors
$blue: #322E59;
$darkBlue: #17153B;
$enter: #FFBB56;
$gray: #D9D9D9;

// fonts
$font: 'Inter', sans-serif;
$light: 300;
$semi: 600;
$bold: 900;

.container {
    position: relative;
    color: $gray;
    font-family: $font;
    overflow-y: scroll;
    padding: 10px;
    text-align: center;
    width: calc(100% - 40px);
    max-width: 300px;
    background-color: #424952;
    height: 60%;
    margin: 150px auto 0 auto;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  
    // Ensure slides don't overlap
    // overflow: hidden;
  }
  .close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
    color: white;
    font-size: 0.7rem;
    background: none;
    border: none;
    }
  .content {
    position: relative;
    // flex-direction: column;
    width: 100%;
    height: 100%;


    h1 {
        font-weight: $bold;
        font-size: 1.4rem;
        color: white;
    }

    hr {
        border-color: rgba(255, 255, 255, 0.12);
    }
    p {
        font-weight: $light;
        text-align: center;
        color: $gray;
      }
    
    .textCont{
        // border: 2px solid pink;
        margin-top: 30px;

        .txtSubtitle{
          padding: 10px 0 10px 0;
        }
    }
  }

  .controls {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-weight: $semi;
    h2 {
      color: white;
      font-size: 1rem;
    }
  
    p {
      color: $gray;
      font-size: 0.8rem;
    }


    
  }
  .guideImg{
    margin: auto;
    width: 2rem;
    img{
      width: 100%;
    }
  }
  .horizontalIcon{
    width: 8rem;
    img{
      width: 100%;
    }
  }

  .feedbackGuide{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 10px 0 10px 0;
  }