/* import font styles */
@import url('https://fonts.googleapis.com/css2?family=Lalezar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Lao:wght@100..900&display=swap');


/* Global variables */
    /* color pallete */
    $primary: rgb(46, 93, 73); // 
    $secondary: rgb(204, 154, 2); // 
    $tertiary: rgb(255, 255, 255); // #FFFFFF
    $outOfFocus: rgb(210, 210, 210); //#D2D2C9
    $guest: rgb(0, 189, 214); // #00BDD6
    $danger: rgb(255, 51, 51); //#ff3333
    $background: rgb(225,225,225); //#E1E1E1
    $fontColor1: black;
    // Active Star Color Hex #FFC107

    /* font styles */
    $title: "Lalezar", system-ui;
    $subTitle: "Noto Sans Lao", sans-serif;
    $light: 300;
    $semi: 600;
    $bold: 900;

// Layout of the interactive map module contents
canvas{
    position: relative;
    z-index: 1;
}
#container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
#mapCont{
    min-width: 100%;
    flex: 3;
    overflow: hidden;
}
#pathfinding{
    overflow: hidden;
    display: none;
    z-index: 1000;
    flex: 0;
}
#pfModal-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: none;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    &.active{
        display: block;
        opacity: 1;
    }

    #header{
        position: absolute;
        color: $secondary;
        font-size: 2rem;
        left: 20px;
        top: 10px;
    }
    
    #pfModal{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 50%;
        max-width: 300px;
        z-index: 10001;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
        opacity: 0;
        overflow-y: auto;
        overflow-x: hidden;
              
        scrollbar-width: thin; // Makes scrollbar thinner
        scrollbar-color: $primary;
        &::-webkit-scrollbar {
            width: 8px;       // Width of vertical scrollbar
            height: 8px;      // Height of horizontal scrollbar (if applicable)
          }
      
          &::-webkit-scrollbar-track {
            background-color: $primary; // Background color of the track
            border-radius: 10px;
          }
      
          &::-webkit-scrollbar-thumb {
            background-color: $primary;    // Color of the scrollbar thumb
            border-radius: 10px;
            border: 2px solid $primary; // Padding around thumb for space from track
          }

        &.active{
            opacity: 1;
            transform: translate(-50%, -50%);
        }
        #items-container{
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color:  $background;
            .items{
                font-size: 0.8rem;
                font-family: $subTitle;
                font-weight: $semi;
                display: block;
                background: $primary;
                border: 1px solid #7c7a7a;
                width: 100%;
                height: 50px;
                transition: 0.3s ease;
                text-align: center;
                color: $secondary;
                transition: all 0.2s ease-in-out;
                &:hover{
                    background: $background;
                    border: 1.5px solid $primary;
                    margin: 5px;
                    color: $primary;
                    scale: 1.1;
                }
            }
        }
    }
}

#mapCont, #pathfinding{
    transition: all 0.3s ease;
}

#pathfinding.active{
    flex: 0.3;
    @media (max-width: 800px){
        position: absolute;
        width: 100%;
        height: 100%;
    }
}
#mapCont.shrink{
    flex: 2;
}

// startingModal styles
#startingModal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    opacity: 1;
    transition: opacity 150ms ease-in-out;
    display: none;
    &.active{
        display: block;
        opacity: 1;
    }
}

// addMarker styles
#addMarker{
    position: absolute;
    height: 100%;
    width: 100%;
}