nav{
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    position: absolute;
    top: 2rem;
    display: flex;
    flex-direction: column;
    z-index: 1000;

    button{
        border-radius: 5px;
        background-color: white;
        width: 5vw;
        padding: 10px;
        transition: transform 0.3s ease, padding 0.3s ease;
    }
    button:hover::before{
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.3s ease;
    }
    button:hover::before{
        transform: scaleX(0);
    }
    button:hover{
        padding-left: 20px;
        transform: translateX(10px);
    }

    hr{
        border: 1px solid gray;
    }
}