@import '../../../../../../landing/signInModule/stylesVariables.scss';
@import '../../../../../../landing/signInModule/global.scss';

.aboutUsContainer {
    background-color: $tertiary;
    border-radius: 10px;
    max-height: 500px;
    height: 70%;
    overflow: auto;
    // position: absolute;
    max-width: 600px;
    width: 90%;
    pointer-events: all; //!important

    .aboutUsContent {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 20px;

        .close {
            position: absolute;
            margin: 0 0 15px 0;
            
            img {
                height: 15px;
                width: 15px;
            }
        }

        .header {
            background-color: $secondary;
            border-radius: 0 0 50px 50px;
            display: flex;
            justify-content: center;
            margin-top: -20px;
            padding: 10px 0;
            width: 80%;

            .txtTitle {
                color: $tertiary;
                font-size: 25px;
            }
        }

        .content {
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            margin-top: -10px;
            width: 100%;
            position: relative;
            z-index: -1;

            img {
                border-radius: 20px;
                width: 100%;
            }
            .noImg {
                align-items: center;
                background-color: $outOfFocus;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                position: relative;
                margin: 20px 0;
                height: 300px;
                width: 100%;

                .txtTitle {
                    font-size: 20px;
                }
            }

            .history, .vision, .mission, .goal, .objective {
                align-self: flex-start;
                margin-top: 20px;

                .txtTitle {
                    font-size: 20px;
                }

                .txtSubTitle {
                    font-size: 10px;
                    text-align: justify;
                    text-indent: 30px;
                }
            }

            .objective {
                .txtSubTitle {
                    text-indent: 0;
                }
            }
        }
    }
}

.editBtn {
    margin-top: 20px;
    pointer-events: all;

    span {
        background-color: $primary;
        border-radius: 30px;
        color: $tertiary;
        font-size: 16px;
        padding: 5px 30px;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: $secondary;
            color: $primary;
        }
    }
}

@media (min-width: 768px) {
    .aboutUsContainer {
        .aboutUsContent {
            .close {        
                img {
                    height: 20px;
                    width: 20px;
                }
            }
    
            .header {
                .txtTitle {
                    font-size: 35px;
                }
            }
    
            .content {
                .history, .vision, .mission, .goal, .objective {
                    align-self: flex-start;
                    margin-top: 20px;
    
                    .txtTitle {
                        font-size: 25px;
                    }
    
                    .txtSubTitle {
                        font-size: 15px;
                    }
                }
            }
        }
    }
}
