
@import './stylesVariables.scss';

a {
    text-decoration: none;
    color: inherit;
}

/* navigation global styles */

ul {
    padding: 0;
}

li {
    cursor: pointer;
}

/* all kind of input box global styles */



/* label, title and subTitle global styles */

label, .txtTitle, .txtSubTitle {
    color: $secondary;
}

.txtTitle {
    font-family: $title;
    font-size: 2.525rem;
}

.txtSubTitle {
    font-family: $subTitle;
}

/* close/return icons */

.return {
    align-self: flex-start;
    align-items: center;
    background-color: $outOfFocus;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    height: 50px;
    justify-content: center;
    transition: 0.2s ease-in-out;
    width: 50px;

    img {
        height: 25px;
        filter: invert(10%) sepia(33%) saturate(3192%) hue-rotate(225deg) brightness(81%) contrast(100%); 
        transition: all 0.2s ease-in-out;
        width: 25px;
    }
}

.return:hover {
    background-color: $secondary;

    img {
        filter: invert(30%) sepia(72%) saturate(1526%) hue-rotate(240deg) brightness(101%) contrast(90%);
    }
}

// modal boxes ( nav list items )

.close {
    align-self: flex-end;
    align-items: center;
    // background-color: $outOfFocus;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;

    img {
        height: 25px;
        filter: invert(10%) sepia(33%) saturate(3192%) hue-rotate(225deg) brightness(81%) contrast(100%); 
        transition: all 0.2s ease-in-out;
        width: 25px;
    }
}

.close:hover {
    img {
        filter: invert(30%) sepia(72%) saturate(1526%) hue-rotate(240deg) brightness(101%) contrast(90%);
    }
}
    
// image slider global styles

.arrowBtn {
    color: $tertiary;
    cursor: pointer;
    font-size: 50px;
    position: absolute;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    user-select: none;
}

.arrowBtn:hover{
    color: $primary;
    scale: 1.125;
}