
@import './stylesVariables.scss';

a {
    text-decoration: none;
    color: inherit;
}

/* navigation global styles */

ul {
    padding: 0;
}

li {
    cursor: pointer;
}

/* all kind of input box global styles */


/* button styles */
.button {
    border: 0;
    border-radius: 40px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: $title;
    height: 3rem;
    width: 15rem;
}

.btnSignIn {
    background-color: $outOfFocus;
    color: $fontColor1;
    transition: 0.2s ease-in-out;

    &:hover {
        background-color: $primary;
        color: $tertiary;
    }
}

.btnGuest {
    background-color: $primary;
    color: $tertiary;
    transition: 0.2s ease-in-out;

    &:hover {
        background-color: $secondary;
        color: $primary;
    }
}

.submitBtn { // submit feedback and contact us button
    align-self: center;
    background-color: $guest;
    color: $tertiary;
    margin: 30px 0 0 0;
    transition: 0.2s ease-in-out;

    &:hover {
        background-color: $primary;
        color: $secondary;
    }
}


/* label, title and subTitle global styles */

label, .txtTitle, .txtSubTitle {
    color: $fontColor1;
}

.txtTitle {
    font-family: $title;
    font-size: 2.525rem;
}

.txtSubTitle {
    font-family: $subTitle;
}

/* close/return icons */

.return:hover {
    background-color: $secondary;

    img {
        filter: invert(30%) sepia(72%) saturate(1526%) hue-rotate(240deg) brightness(101%) contrast(90%);
    }
}

// modal boxes ( nav list items )

.close {
    align-self: flex-end;
    align-items: center;
    // background-color: $outOfFocus;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;

    img {
        height: 25px;
        filter: invert(10%) sepia(33%) saturate(3192%) hue-rotate(225deg) brightness(81%) contrast(100%); 
        transition: all 0.2s ease-in-out;
        width: 25px;
    }
}

.close:hover {
    img {
        filter: brightness(0) saturate(100%) invert(58%) sepia(20%) saturate(5091%) hue-rotate(17deg) brightness(100%) contrast(98%);
    }
}
    
// image slider global styles

.arrowBtn {
    color: $tertiary;
    cursor: pointer;
    font-size: 50px;
    position: absolute;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    user-select: none;
}

.arrowBtn:hover{
    color: $primary;
    scale: 1.125;
}

// important for admin side pages
.rootDiv { // temporary, relocate if there is conflict
    background-color: $background;
    display: flex;
    justify-content: space-between;
    height: 100%;
  }