@import '../stylesVariables.scss';

/* Main container for login */
.rootContainer {
    background-image: url("../../../../../../public/for_landingPage/images/landingPageBackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
} 

.overlay {
    backdrop-filter: blur(3px) brightness(50%); //contrast(60%)
    position: fixed;
    height: 100%;
    width: 100%;
}

.mainContainer {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0 auto;
    padding: 0 0.625rem;
    position: inherit;
    z-index: 1;
} 

// Login container
.loginContainer {
    background-color: $tertiary;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(15, 15, 15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // height: 95%;
    // height: 65vh;
    max-width: 90vw; //75vw
    width: 100%;
    overflow: hidden;

    .firstContainer {
        display: flex;
        align-items: center;
        // flex: 1;
        // flex-grow: 1.45;
        padding: 5%;
        width: 100%; //20%
    }

    button {
        border: 0;
        border-radius: 40px;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 15px; // 1.5rem
        font-family: $title;
        height: 40px; //3rem
        width: 150px; //15rem
    }

    input, textarea {
        border: 2px solid red;
        border-radius: 5px;
        border: 1.5px solid black;
        padding: 5px;
        outline: transparent;
        transition: all 0.2s ease-in-out;
    
        &:focus { // works for input but not for textarea
            border: 1.5px solid $secondary;
        }
    }
    
}

@media (min-width: 576px) {
    .loginContainer {
    
        button {
            font-size: 20px; // 1.5rem
            height: 40px; //3rem
            width: 200px; //15rem
        }
    }
}

@media (min-width: 768px) {
    .loginContainer {
        height: 65vh;
        flex-direction: row;
    
        .firstContainer {
            flex: 1;
            flex-grow: 1.45;
        }
    
        button {
            font-size: 1.5rem; 
            height: 3rem;
            width: 15rem;
        }
    }
}