
.modalContainer {
    position: absolute;
    align-items: center;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    pointer-events: none; //!important
    position: absolute;
    width: 100%;
    z-index: 99; // stack infront of marker
}