@import '../../../../landing/signInModule/stylesVariables.scss';

.navBarList, .editContentList {
    display: flex;
    position: fixed;
    width: 130px; 
    z-index: 98;

    .navList, .editList, .logoutCont {
        li {
            align-items: center;
            background-color: $tertiary;
            border-radius: 10px;
            color: $fontColor1;
            display: flex;
            font-family: $title;
            font-size: 11px;
            margin: 12px 0;
            padding: 5px 10px;
            width: 100%;
            user-select: none;
            -webkit-tap-highlight-color: transparent; // removes blue highlight on mobile

            .icon {
                filter: brightness(0) saturate(100%);
                height: 15px;
                transition: all 0.2s ease-in-out;
                width: 15px;
            }

            .text {
                align-items: center;
                display: flex;
                margin: 0 0 0 10px;
                padding: 5px 0 0 0;
                transition: 0.2s ease-in-out;
            }

            &:hover {
                .icon {
                    filter: brightness(0) saturate(100%) invert(58%) sepia(20%) saturate(5091%) hue-rotate(17deg) brightness(100%) contrast(98%); // change the icon color into $secondary 
                }
                .text {
                    color: $secondary;
                }
            }
        }
    }
}

.editContentList {

    .editList {
        left: 150px;
        position: absolute;
        top: 170px;
    }
}

// RESPONSIVE DESIGN

@media (min-width: 960px) {

    .navBarList, .editContentList {
        width: 200px;

        .navList, .editList{
            li {
                border-radius: 15px; 
                font-size: 14px;
                margin: 13px 0;
                padding: 10px 20px;
    
                .icon {
                    height: 20px;
                    width: 20px;
                }

                .text {
                    margin: 0 0 0 20px;
                }
            }
        }
    }

    .editContentList {
        left: 60px;
        position: absolute;
        top: 60px;

        .editList {
            li {
                width: 150px;

                .icon {
                    height: 20px;
                    width: 20px;
                }

                .text {
                    font-size: 14px;
                }
            }
        }
    }
}

@media (min-width: 1200px) {

    .navBarList, .editContentList {
        width: 250px;

        .navList, .editList{
            li {
                border-radius: 20px; 
                font-size: 20px;
                margin: 15px 0;
                padding: 15px 20px;
    
                .icon {
                    height: 30px;
                    width: 30px;
                }
            }
        }
    }

    .editContentList {
        left: 120px;
        top: 120px;

        .editList {
            li {
                width: 200px;

                .icon {
                    height: 30px;
                    width: 30px;
                }

                .text {
                    font-size: 18px;
                }
            }
        }
    }
}
