@import '../../../stylesVariables.scss';
@import '../../../global.scss';

.signInContent {
    align-items: center;
    display: inherit;
    flex: 1;
    flex-direction: column;
    justify-content: center;

    .return {
        align-self: flex-start;
        align-items: center;
        background-color: $outOfFocus;
        border-radius: 50px;
        cursor: pointer;
        display: flex;
        height: 30px;
        justify-content: center;
        transition: all 0.2s ease-in-out;
        width: 30px;
    
        img {
            height: 15px;
            filter: brightness(0) saturate(100%) invert(30%) sepia(12%) saturate(1582%) hue-rotate(102deg) brightness(95%) contrast(86%);
            transition: all 0.2s ease-in-out;
            width: 15px;
        }

        &:hover {
            scale: 1.1;
        }
    }

    .txtTitle {
        font-size: 30px;
    }

    .form {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
    
        .submitBtn {
            background-color: $secondary;
            color: $primary;
            align-self: center;
            margin-top: 15px;
            height: 30px;
            width: 120px;

            &:hover {
                background-color: $primary;
                color: $secondary;
            }
        }
        
        label {
            font-family: $subTitle;
        }
        
        input {
            border: 1.5px solid black; 
            border-radius: 5px;
            height: 19px;
            margin-bottom: 10px; 
            width: 100%;
        }
    }
}


@media (min-width: 576px) {
    .signInContent {
        .return {
            height: 50px;
            width: 50px;

            img {
                height: 25px;
                width: 25px;
            }
        }

        .txtTitle {
            font-size: 40px;
        }

        .form {
            .submitBtn {
                margin-top: 20px;
                height: 40px;
                width: 180px;
            }

            input {
                height: 28px;
                margin-bottom: 20px;
                min-width: 17rem;
            }
        }
    }
}

@media (min-width: 768px) {
    
}
