// for the meantime me just gonna drop these variables here
@import '../../ThreeCanvas.scss';

// wide screens
.pfCont{
    display: flex;
    font-family: $title;
    width: 100%;
    height: 100%;
    padding: 0 3rem;
    background-color: $primary;
    justify-content: space-between;
    align-items: center;
    .logo{
        font-family: $title;
        width: 200px;
        color: $secondary;
        p{
            font-weight: $secondary;
            font-size: 0.5rem;
        }
        h1{
            font-weight: $bold;
            font-style: italic;
            font-size: 2rem;
        }
    }

    .current, .destination{
        font-family: $subTitle;
        font-weight: $bold;
        border: 2px solid $tertiary;
        background-color: $primary;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 2rem;
        border-radius: 10px;
        min-width: 10rem;
        padding: 1.2rem 0;
        
        span{
            padding-left: 2rem;
            color: $secondary;
        }
        .arrow{
            display: flex;
            justify-content: center;
            width: 2rem;
            img{
                width: 50%;
            }
        }
    }

    .enter{
        font-family: $title;
        font-weight: $bold;
        border: 2px solid $tertiary;
        background-color: $primary;
        color: $secondary;
        min-width: 8rem;
        height: 3rem;
        border-radius: 10px;
        font-size: 1.3rem;
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    }
    .current, .destination, .enter{
        box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
        &:active {
            transform: translateY(2px); // Slight downward shift to simulate push
            box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.6); // Reduced shadow to enhance effect
            -webkit-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.6);
            -moz-box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.6);
        }
    }

    @media (max-width: 800px){
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
        align-items: center;
        .logo{
            width: 300px;
            color: $secondary;
            text-align: center;
            p{
                font-weight: $light;
                font-size: 0.6rem;
            }
            h1{
                font-weight: $bold;
                font-style: italic;
                font-size: 2.3rem;
            }
        }
    }
    }

.pfBtn{
    box-shadow: 0px 0px 40px 10px rgba(0, 0, 0, 0.2);
    font-family: $title;
    font-weight: $semi;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: $primary;
    padding: 5px;
    border-radius: 10px;
    border: 2px solid $tertiary;
    color: $secondary;
    padding: 0 2rem 2rem 2rem;
    transition: all 0.3s ease;
    p{
        font-weight: $light;
        font-size: 0.5rem;
    }
    h1{
        font-weight: $bold;
        font-style: italic;
        font-size: 1rem;
    }
}
// for the pathfinding button
.hidden{
    opacity: 0;
    pointer-events: none;
}