.marker {
    position: absolute;
    transform: translate(-50%, -100%);
    z-index: 10;
    width: 4rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .marker img {
    width: 2rem;
    height: 2rem;
  }
  .marker:hover{
    cursor: pointer;
  }
  
  .tooltip {
    display: none;
  }
  .tooltipHover{
    display: block;
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
  }
  