@import '../../../../../../landing/signInModule/stylesVariables.scss';
@import '../../../../../../landing/signInModule/global.scss';

.contactUsContainer {
    background-color: $tertiary;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    max-height: 70%; 
    padding: 30px 40px;
    pointer-events: all; //!important
    position: absolute;
    
    .contactUsContent {
        align-items: center;
        display: flex;
        flex-direction: column;

        .form {
            display: flex;
            flex-direction: column;
            
            label {
                font-family: $subTitle;
            }

            textarea {
                font-family: $subTitle;
                height: 150px;
                resize: none;
            }
        }
    }

    button {
        border: 0;
        border-radius: 40px;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 1.5rem;
        font-family: $title;
        height: 3rem;
        width: 15rem;
    }

    input, textarea { //note
        border-radius: 5px;
        border: 1.5px solid black;
        padding: 5px;
        outline: transparent;
        transition: all 0.2s ease-in-out;
    
        &:focus { // works for input but not for textarea
            border: 1.5px solid $primary;
        }
    }
    button {
        border: 0;
        border-radius: 40px;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 1.5rem;
        font-family: $title;
        height: 3rem;
        width: 15rem;
    }

    input, textarea { //note
        border-radius: 5px;
        border: 1.5px solid black;
        padding: 5px;
        outline: transparent;
        transition: all 0.2s ease-in-out;
    
        &:focus { // works for input but not for textarea
            border: 1.5px solid $primary;
        }
    }
}

