@import '../../../../../../landing/signInModule/stylesVariables.scss';
@import '../../../../../../landing/signInModule/global.scss';

.submitFeedbackContainer {
    background-color: $tertiary;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    max-height: 70%;
    max-width: 300px;
    padding:  20px 30px;
    position: absolute;
    pointer-events: all; //!important
    width: 70%;


    .submitFeedbackContent {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;

        .close {
            img {
                height: 15px;
                width: 15px;
            }
        }

        .txtTitle {
            font-size: 20px;
            text-align: center;
        }

        .txtSubTitle {
            font-size: 9px;
            text-align: center;
        }

        .starContainer {
            display: flex;
            justify-content: space-between;
            margin: 15px 0;
            width: 60%;

            .icon.star {
                cursor: pointer;
                height: 20px;
                filter: invert(92%) sepia(8%) saturate(180%) hue-rotate(22deg) brightness(92%) contrast(88%);
                width: 20px; 

            }

            .icon.star:hover,
            .icon.star.active {
                filter: invert(82%) sepia(34%) saturate(3726%) hue-rotate(355deg) brightness(104%) contrast(100%);
            }

            
        }

        .form {
            align-items: center;
            display: flex;
            flex-direction: column;
            margin: 0 0 10px 0;
            width: 100%;

            textarea {
                height: 100%;
                font-size: 8px; //
                max-height: 400px;
                max-width: 400px; 
                resize: none;
                width: 80%;
            }

            .txtSubTitle {
                color: $secondary;

                &.error {
                    color: $danger;
                }
            }

            .submitBtn { // consider placing in global
                align-self: center;
                background-color: $guest;
                color: $tertiary;
                font-size: 15px;
                margin: 15px 0 0 0; // 30px 0 0 0 
                height: 40px;
                transition: 0.2s ease-in-out;
                width: 120px;

                &:hover {
                    background-color: $primary;
                    color: $secondary;
                }
            }
        }
    }

    button {
        border: 0;
        border-radius: 40px;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 1.5rem;
        font-family: $title;
        height: 3rem;
        width: 15rem;
    }

    input, textarea { //note
        border-radius: 5px;
        border: 1.5px solid black;
        padding: 5px;
        outline: transparent;
        transition: all 0.2s ease-in-out;
    
        &:focus { // works for input but not for textarea
            border: 1.5px solid $primary;
        }
    }
}

@media (min-width: 520px) {
    .submitFeedbackContainer {

        .submitFeedbackContent {

            .close {
                img {
                    height: 20px;
                    width: 20px;
                }
            }
    
            .txtSubTitle {
                font-size: 10px;
                text-align: center;
            }
        }
    }
}

@media (min-width: 992px) {
    .submitFeedbackContainer {
        max-width: 400px;
           
        .submitFeedbackContent {

            .close {
                img {
                  height: 25px;
                  width: 25px
                }
            }
    
            .txtTitle {
                font-size: 30px;
            }
    
            .txtSubTitle {
                font-size: 13px;
            }

            .starContainer {
                margin: 30px 0;
                width: 53%;

                .icon.star {
                    height: 30px;
                    width: 30px;
                }
            }

            .form {
                align-items: center;
                display: flex;
                flex-direction: column;
                margin: 0 0 10px 0;
                width: 100%;
    
                textarea {
                    font-size: 12px;
                    height: 150px;
                }
    
                .submitBtn {
                    font-size: 20px;
                    margin: 30px 0 0 0; 
                    height: 40px;
                    width: 200px;
                }
            }
        }
    }
}