@import '../../../../../../landing/signInModule/stylesVariables.scss';
@import '../../../../../../landing/signInModule/global.scss';

.submitFeedbackContainer {
    background-color: $tertiary;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    max-height: 70%;
    padding:  20px 30px;
    position: absolute;
    pointer-events: all; //!important

    .submitFeedbackContent {
        align-items: center;
        display: flex;
        flex-direction: column;

        .txtSubTitle {
            text-align: center;
        }

        .starContainer {
            display: flex;
            justify-content: space-between;
            margin: 30px 0;
            width: 53%;

            .icon.star {
                cursor: pointer;
                height: 30px;
                filter: invert(92%) sepia(8%) saturate(180%) hue-rotate(22deg) brightness(92%) contrast(88%);
                width: 30px;

            }

            .icon.star:hover,
            .icon.star.active {
                filter: invert(82%) sepia(34%) saturate(3726%) hue-rotate(355deg) brightness(104%) contrast(100%);
            }

            
        }

        .form {
            align-items: center;
            display: flex;
            flex-direction: column;
            margin: 0 0 10px 0;

            textarea {
                height: 150px;
                resize: none;
                width: 320px;
            }

            .submitBtn { // consider placing in global
                align-self: center;
                background-color: $guest;
                color: $tertiary;
                margin: 30px 0 0 0;
                transition: 0.2s ease-in-out;

                &:hover {
                    background-color: $primary;
                    color: $secondary;
                }
            }
        }
    }

    //temporary due to global.scss conflict with marker styles
    button {
        border: 0;
        border-radius: 40px;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 1.5rem;
        font-family: $title;
        height: 3rem;
        width: 15rem;
    }

    input, textarea { //note
        border-radius: 5px;
        border: 1.5px solid black;
        padding: 5px;
        outline: transparent;
        transition: all 0.2s ease-in-out;
    
        &:focus { // works for input but not for textarea
            border: 1.5px solid $primary;
        }
    }
}