@import '../../../stylesVariables.scss';
@import '../../../global.scss';

.optionContent {
    align-items: center;
    display: inherit;
    flex: 1;
    flex-grow: 1.45;
    flex-direction: column;
    justify-content: center;
    


    .txtTitle { 
        font-size: 30px;
        margin-bottom: 0.938rem; 
    }

    .txtSubTitle { 
        font-family: $subTitle;
        font-size: 10px;
        margin: 0.563rem 0; 
    }

}

@media (min-width: 576px) {
    .optionContent{
        .txtTitle {
            font-size: 40px;
        }

        .txtSubTitle {
            font-size: 15px;
        }
    }
}