@import '../../../stylesVariables.scss';
@import '../../../global.scss';

.optionContent {
    align-items: center;
    display: inherit;
    flex: 1;
    flex-grow: 1.45;
    flex-direction: column;
    justify-content: center;
    
}

.txtTitle { 
    margin-bottom: 0.938rem; 
}

.txtSubTitle { 
    font-family: $subTitle;
    margin: 0.563rem 0; 
}