@import '../../../stylesVariables.scss';
@import '../../../global.scss';

.optionContent {
    align-items: center;
    display: inherit;
    flex: 1;
    flex-grow: 1.45;
    flex-direction: column;
    justify-content: center;
    
    .txtTitle { 
        font-size: 30px;
        margin-bottom: 0.938rem; 
    }

    .txtSubTitle { 
        font-family: $subTitle;
        font-size: 10px;
        margin: 0.563rem 0; 
    }

}

.guestCategory {
    align-items: center;
    display: inherit;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    
    .return {
        align-self: flex-start;
        align-items: center;
        background-color: $outOfFocus;
        border-radius: 50px;
        cursor: pointer;
        display: flex;
        height: 30px;
        justify-content: center;
        transition: all 0.2s ease-in-out;
        width: 30px;
        user-select: none;
        -webkit-tap-highlight-color: transparent; // removes blue highlight on mobile
    
        img {
            height: 15px;
            filter: brightness(0) saturate(100%) invert(30%) sepia(12%) saturate(1582%) hue-rotate(102deg) brightness(95%) contrast(86%);
            transition: all 0.2s ease-in-out;
            width: 15px;
        }

        &:hover {
            scale: 1.1;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;

        label {
            font-family: $subTitle;
        }

        select, .userInput input{
            width: 160px;
            height: 30px;
            font-family: $subTitle;
        }

        select {
            margin-bottom: 5px;
        }

        .userInput {
            display: flex;
            flex-direction: column;
            input {
                border-radius: 5px;
                border: 1.5px solid black;
                padding: 5px;
                outline: transparent;
                transition: all 0.2s ease-in-out;

                &:focus {
                    border: 1.5px solid $secondary;
                }
            }
        }
    }
}

@media (min-width: 576px) {
    .optionContent{
        .txtTitle {
            font-size: 40px;
        }

        .txtSubTitle {
            font-size: 15px;
        }
    }

    .guestCategory {
        .return {
            height: 50px;
            width: 50px;

            img {
                height: 25px;
                width: 25px;
            }
        }
    }
}