@import "../../../Users/landing/signInModule/global.scss";
@import "../../../Users/landing/signInModule/stylesVariables.scss";

.holder {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    pointer-events: all;
    max-height: 500px;
    height: 70%;
}

.editContainer {
    background-color: $tertiary;
    border-radius: 8px;
    // align-items: center;
    display: flex;
    justify-content: center;
    pointer-events: all;
    padding: 20px;
    max-width: 600px;
    width: 90%;
    
    overflow: auto;
    margin: 20px;

    .editingSection {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 100%;

        .close {
            position: absolute;
            margin: 0 0 15px 0;
            
            img {
                height: 15px;
                width: 15px;
            }
        }

        .header {
            background-color: $secondary;
            border-radius: 0 0 50px 50px;
            display: flex;
            justify-content: center;
            margin-top: -20px;
            padding: 10px 0;
            width: 80%;

            .txtTitle {
                color: $tertiary;
                font-size: 25px;
            }
        }

        .content {
            width: 100%;

            img {
                border-radius: 20px;
                width: 100%;
            }

            .preview, .uploaded, .noImg {
                margin: 20px 0;
                position: relative;

                &:hover .overlay {
                    opacity: 1;
                }
            }

            .preview {
                &:hover .uploadBtn {
                    scale: 1.1;
                }
            }

            .uploaded {
                .overlay {
                    display: flex;
                    gap: 20px;

                    .deleteBtn:hover, .uploadBtn:hover {
                        scale: 1.1;
                    }
                }
                
            }

            .noImg {
                align-items: center;
                background-color: $outOfFocus;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                height: 300px;

                .txtTitle {
                    font-size: 15px;
                }

                &:hover .uploadBtn {
                    scale: 1.1;
                }
            }

            .overlay {
                align-items: center;
                background-color: rgba(0, 0, 0, 0.5);
                border-radius: 20px;
                display: flex;
                height: 100%;
                justify-content: center;
                left: 0;
                opacity: 0;
                position: absolute;
                top: 0;
                transition: all 0.2s ease-in-out;
                width: 100%;
      
                .uploadBtn, .deleteBtn {
                  background-color: $primary;
                  border-radius: 30px;
                  color: $tertiary;
                  font-size: 15px !important;
                  padding: 5px 20px;
                  transition: all 0.2s ease-in-out;
                }

                .deleteBtn {
                    background-color: $danger;
                }

                
            }

            input {
                position: absolute;
                height: 100%;
                left: 0;
                opacity: 0;
                top: 0;
                width: 100%;
                cursor: pointer;
            }
    
            

            .history, .vision, .mission, .goal, .objective {

                .txtTitle {
                    font-size: 20px;
                }

                textarea {
                    border: 1px solid black;
                    border-radius: 5px;
                    margin-bottom: 15px;
                    font-size: 10px;
                    height: 100px;
                    padding: 5px;
                    resize: none;
                    outline: transparent;
                    width: 100%;
                }
            }
        }
    }
}

.saveBtn {
    margin-top: 20px;
    pointer-events: all;

    span {
        background-color: $primary;
        border-radius: 30px;
        color: $tertiary;
        font-size: 16px;
        padding: 5px 30px;
        transition: all 0.2s ease-in-out;

        &:hover {
            background-color: $secondary;
            color: $primary;
        }
    }
}

@media (min-width: 768px) {
    .editContainer {
        .editingSection {
            .close {
                img {
                    height: 20px;
                    width: 20px;
                }
            }

            .header {
                .txtTitle {
                    font-size: 35px;
                }
            }

            .content {
                .noImg {
                    .txtTitle {
                        font-size: 25px;
                    }
                }

                .history, .vision, .mission, .goal, .objective {
                    .txtTitle {
                        font-size: 30px;
                    }

                    textarea {
                        font-size: 15px;
                        height: 200px;
                    }
                }
            }
        }
    }
}