/* UserModal.jsx scss */

@import "../../../Users/landing/signInModule/global.scss";
@import "../../../Users/landing/signInModule/stylesVariables.scss";

.modalContent {
    align-items: center;
    background-color: $tertiary;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    max-width: 350px;
    padding: 20px;
    // width: 100%;

    .close { // adapts styles from global
        position: absolute;

        img {
            height: 15px;
            width: 15px;
        }
    }

    .header {
        background-color: $secondary;
        border-radius: 0 0 50px 50px;
        text-align: center;
        margin: -20px 0 20px 0;
        padding: 10px 20px;
        width: 70%;

        .txtTitle {
            color: $tertiary;
            font-size: 25px;
        }
    }

    .form {
        justify-content: center;
        width: 100%;

        .customLabel {
          align-items: center;
          display: flex;
          gap: 20px;
          justify-content: center;
          margin-bottom: 20px;

          .browseBtn {
            background-color: $primary;
            border-radius: 30px;
            color: $tertiary;
            font-family: $title;
            padding: 5px 15px;
            transition: all 0.2s ease-in-out;

            &:hover {
              scale: 1.1;
            }
          }
          .fileName {
            border: 1.5px solid black;
            border-radius: 5px;
            padding: 2px 15px;
          }

          input {
            opacity: 0;
            position: absolute; 
            cursor: pointer;
          }
          
        }

        .btns {
          align-items: center;
          display: flex;
          justify-content: center;
          gap: 20px;

          .saveBtn, .cancelBtn {
            border-radius: 30px;
            font-size: 15px;
            padding: 2px 35px;
            transition: all 0.2s ease-in-out;
            cursor: pointer;

            &:hover {
              scale: 1.1;
            }
          }

          .saveBtn {
            background-color: $primary;
            color: $tertiary;
          }

          .cancelBtn {
            background-color: $outOfFocus;
          }
        }
    }
}
