@import "../../../Users/landing/signInModule/global.scss";
@import "../../../Users/landing/signInModule/stylesVariables.scss";

.audioManagementContainer {
  height: 100%;
  overflow-x: hidden;
  width: 100%;

  .header {
    align-items: center;
    background-color: $secondary;
    border-radius: 0 0 90px 0;
    display: flex;
    height: 100px;
    justify-content: center;
    width: 86%;

    .txtTitle {
      color: $tertiary;
      font-size: 21px;
    }
  }

  .tblWrapper {
    margin: 40px 15px 0 15px;

    .audioManagementTable {
      border-collapse: collapse;
      table-layout: fixed;
      width: 100%;
  
      th, td {
        border-bottom: 1.5px solid $outOfFocus;
        font-family: $subTitle;
        font-size: 11px;
        padding: 12px 5px;
        text-align: center;
      }
  
      button {
        transition: all 0.2s ease-in-out;
  
        &:hover {
          scale: 1.2;
        }
      }
  
      .playBtn {
        background-color: $primary;
        border-radius: 50px;
        padding: 5px;
      }
  
      .actionBtns {
        display: flex;
        justify-content: center;
        gap: 15px;
      }
  
      .icon {
        height: 15px;
        width: 15px;
      }
    }
  }
}

.confirmation, .modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 5;
}

@media (min-width: 992px) {
  .audioManagementContainer {
      .header {
          border-radius: 0 0 150px 0;
          padding: 80px 0;

          .txtTitle {
              font-size: 40px;
          }
      }

    .tblWrapper {

      .audioManagementTable {
        th, td {
          font-size: 15px;
        }

        .playBtn {
          padding: 10px;
        }

        .icon {
          height: 23px;
          width: 23px;
        }
      }
    }   
  }
}