
@import "../../../Users/landing/signInModule/global.scss";
@import "../../../Users/landing/signInModule/stylesVariables.scss";


.cardsContainer {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  width: 100%;

  .header {
    align-items: center;
    background-color: $secondary;
    border-radius: 0 0 90px 0;
    display: flex;
    height: 100px;
    justify-content: center;
    margin-bottom: 20px;
    width: 86%;
    flex-shrink: 0;
    flex-grow: 0;

    .txtTitle {
      color: $tertiary;
      font-size: 21px;
    }
  }

  .listHeader {
    font-size: 21px;
    margin-left: 35px; 
  }

  .cardsList {
    display: flex;
    gap: 20px;
    padding: 10px 10px;
    overflow: scroll;
    flex-shrink: 0;
    flex-grow: 0;

    .infoContainer {
      align-items: center;
      background-color: $tertiary;
      border-radius: 10px;
      box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.23);
      display: flex;
      padding: 10px 15px;
      
      .txtTitle{
        font-family: $subTitle;
        font-size: 11px;
        width: 130px;
      }

      button {
        background-color: $secondary;
        border-radius: 30px;
        color: $tertiary;
        font-family: $title;
        font-size: 11px;
        padding: 0 20px;
        transition: all 0.2s ease-in-out;

        &:hover {
          scale: 1.1;
        }
      }
    }
  }

  .btnSave {
    background-color: $primary;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.23);
    color: $tertiary;
    font-size: 15px;
    align-self: flex-end;
    margin: 20px 20px 5px 20px;
    padding: 5px 20px;
    transition: all 0.2s ease-in-out;

    &:hover {
      scale: 1.1;
    }
  }

  .cardEditingSection {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px 0;

    .card {
      align-items: center;
      background-color: $tertiary;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      height: 430px;
      max-width: 300px;
      padding: 20px 25px;
      width: 80%;
      

      .popupImage {
        justify-content: center;
        display: flex;
        margin: -20px -25px 0 -25px; 
        position: relative;
        width: calc(100% + 50px);
        transition: all 0.2s ease-in-out;
        max-height: 400px;
        height: 100%;
        
        .previewImg, .uploadedImg {
          height: 190px;
          width: 300px;

          img{
            border-radius: 20px 20px 0 0;
            width: 100%;
            object-fit: cover;
            height: 190px;
          }
        }

        .uploadedImg {
          display: flex;
          gap: 20px;

          .overlay {
            gap: 20px;

            .uploadBtn {
              scale: 1;
              
              &:hover {
                scale: 1.1;
              }
            }

            .deleteBtn {
              background-color: $danger;
              border-radius: 30px;
              color: $tertiary;
              font-size: 15px;
              padding: 5px 25px;
              transition: all 0.2s ease-in-out;

              &:hover {
                scale: 1.1;
              }
            }
          }
        }

        .noImg {
          background-color: $outOfFocus;
          border-radius: 20px 20px 0 0;
          align-items: center;
          display: flex;
          justify-content: center;
          width: 100%;

          span {
            font-size: 20px;
          }
        }
        

        .overlay {
          align-items: center;
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 20px 20px 0 0;
          display: flex;
          height: 100%;
          justify-content: center;
          left: 0;
          opacity: 0;
          position: absolute;
          top: 0;
          transition: all 0.2s ease-in-out;
          width: 100%;

          .uploadBtn {
            background-color: $primary;
            border-radius: 30px;
            color: $tertiary;
            font-size: 15px;
            padding: 5px 20px;
            transition: all 0.2s ease-in-out;
          }
        }

        input {
          position: absolute;
          height: 100%;
          left: 0;
          opacity: 0;
          top: 0;
          width: 100%;
          cursor: pointer;
        }

        &:hover .overlay {
          opacity: 1;
        }
      }

      .cont1 {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 100%;
        margin: 15px 0;

        .txtTitle {
          font-size: 30px;
          line-height: 1;
          margin-bottom: 5px;
          text-align: center;
        }

        .quickFacts { //textarea
          border: 1px solid black;
          border-radius: 5px;
          font-family: $subTitle;
          font-size: 13px;
          justify-self: center;
          margin-top: 10px;
          max-height: 100px;
          max-width: 210px;
          padding: 5px;
          resize: none;
          outline: transparent;
          overflow: hidden;
          width: 90%;
        }
      }
    }
  } 
}

.line { //line separator
  border-bottom: 2px solid $outOfFocus;
  width: 93%;
}

.confirmation, .modal {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  width: 100%;
  z-index: 5;
}


@media (min-width: 992px) {
  .cardsContainer {
      .header {
          border-radius: 0 0 150px 0;
          padding: 80px 0;

          .txtTitle {
              font-size: 40px;
          }
      }

      .listHeader {
        font-size: 31px;
      }

      .cardsList {
        .infoContainer {
          .txtTitle {
            font-size: 15px;
          }

          button {
            font-size: 15px;
            padding: 2px 25px;
          }
        }
      }
  }
}