@import "../../../Users/landing/signInModule/global.scss";
@import "../../../Users/landing/signInModule/stylesVariables.scss";

.editNewsEventContainer, .uploadImgContainer, .updateImgContainer, .confirmDltContainer {
  align-items: center;
  display: flex;
  justify-content: center;
  pointer-events: all;
  width: 100%;

  .modalEditingSection, .modalContent {
    align-items: center;
    background-color: $tertiary;
    padding: 20px; 
    border-radius: 8px;
    gap: 15px;
    display: flex;
    flex-direction: column;
    max-height: 400px;
    max-width: 500px;
    width: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: space-between; 

    .header {
      background-color: $secondary;
      border-radius: 0 0 50px 50px;
      text-align: center;
      margin: -20px 0 20px 0;
      padding: 20px 20px;
      width: 70%;

      .txtTitle {
        color: $tertiary;
        margin-bottom: 10px; /* Space below the heading */
        line-height: 2px;
        font-size: 20px; 
      }
    }
  }
}

.saveBtn.main {
  margin-top: 20px;
  pointer-events: all;
  user-select: none;
  -webkit-tap-highlight-color: transparent; // removes blue highlight on mobile

  span {
      background-color: $primary;
      border-radius: 30px;
      color: $tertiary;
      font-size: 16px;
      padding: 5px 30px;
      transition: all 0.2s ease-in-out;

      &:hover {
          background-color: $secondary;
          color: $primary;
      }
  }
}

.editNewsEventContainer {
  .modalEditingSection {

    .close { // adapts styles from global
      position: absolute;
      user-select: none;
      -webkit-tap-highlight-color: transparent; // removes blue highlight on mobile

      img {
          height: 15px;
          width: 15px;
      }
    }

    .imageCarousel {
      margin-top: 20px;
      width: 100%;
      max-width: 400px;
      height: 250px;
      margin: 0 auto;
      padding: 2px;
      
      
      .imageContainer {
        position: relative;
        
        .carouselImage {
          width: 100%;
          height: 250px;
          object-fit: cover; /* Ensures uniform image display while maintaining aspect ratio */
          border-radius: 10px;
        }

        .overlay {
          align-items: center;
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 10px;
          display: flex;
          flex-direction: column;
          height: 100%;
          gap: 10px;
          justify-content: center;
          left: 0;
          opacity: 0;
          position: absolute;
          top: 0;
          transition: all 0.2s ease-in-out;
          width: 100%;
          margin-bottom: 20px;

          .btnCont1, .btnCont2 {
            display: flex;
            gap: 15px;

            .saveBtn, .closeBtn {
              background-color: $primary;
              border-radius: 50px;
              color: $tertiary;
              font-size: 12px;
              font-family: $title;
              transition: all 0.2s ease-in-out;
              padding: 5px 22px;

              &:hover {
                scale: 1.1;
              }
            }

            .closeBtn {
              background-color: $danger;
            }
          }
        }

        &:hover .overlay {
          opacity: 1;
        }
      }
    }

    .noImg {
      background-color: $outOfFocus;
      border-radius: 20px;
      align-items: center;
      display: flex;
      flex-grow: 0;
      flex-shrink: 0;
      justify-content: center;
      transition: all 0.2s ease-in-out;
      height: 210px;
      width: 100%;
      position: relative;

      .overlay {
        align-items: center;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
        display: flex;
        height: 100%;
        justify-content: center;
        opacity: 0;
        position: absolute;
        transition: all 0.2s ease-in-out;
        width: 100%;

        .saveBtn {
          background-color: $primary;
          border-radius: 50px;
          color: $tertiary;
          font-size: 12px;
          font-family: $title;
          padding: 5px 20px;
          transition: all 0.2s ease-in-out;
          padding: 7px 22px;
        }
      }

      span {
        font-size: 20px;
      }

      &:hover .overlay {
        opacity: 1;
      }
    }

    .news {
      width: 100%;
      padding: 0 30px;
      margin-top: 15px;

      .txtTitle {
        font-size: 25px;
      }

      .newsHeader {
        height: 50px;
        overflow: hidden;
      }

      .newsDesc {
        height: 150px;
        font-size: 13px;
      }

      textarea {
        width: 100%;
        resize: none;
        border-radius: 5px;
        border: 1.5px solid black;
        padding: 5px;
        outline: transparent;
        transition: all 0.2s ease-in-out;

        &:focus { // works for input but not for textarea
          border: 1.5px solid $secondary;
        }
      }
    }
  }
}

.uploadImgContainer, .updateImgContainer, .confirmDltContainer {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);

  .modalContent {
    background-color: white;
    padding: 20px;
    width: 80%;
    max-width: 320px;
    border-radius: 10px;
    position: relative;

    .customLabel {
      align-items: center;
      display: flex;
      gap: 20px;
      justify-content: center;
      margin-bottom: 5px;

      .browseBtn {
        background-color: $primary;
        border-radius: 30px;
        color: $tertiary;
        font-family: $title;
        padding: 5px 15px;
        transition: all 0.2s ease-in-out;
        user-select: none;
        -webkit-tap-highlight-color: transparent; // removes blue highlight on mobile
      }

      .fileName {
        border: 1.5px solid black;
        border-radius: 5px;
        padding: 2px 15px;
        max-width: 150px;
        word-wrap: break-word;
        overflow-wrap: break-word;
      }

      input {
        opacity: 0;
        position: absolute; 
        cursor: pointer;
        user-select: none;
        -webkit-tap-highlight-color: transparent; // removes blue highlight on mobile
      }

      &:hover .browseBtn {
        scale: 1.1;
      }
    }

    .previewImgHeader {
      text-align: center;
      font-size: 20px;
    }

    // --------only in updateImgContainer, related to Slider---------
    .updatePreview {
      margin-top: 20px;
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      padding: 2px;
      

      .previewImage {
        width: 100%;
        height: 210px;
        object-fit: cover;
        border-radius: 10px;
      }
    }
    // -------------------------------------------------------------

    // --------only in uploadImgContainer, related to Slider---------
    .imageCarousel {
      margin-top: 20px;
      width: 100%;
      max-width: 400px;
      margin: 0 auto;
      padding: 2px;
      

      .carouselImage {
        width: 100%;
        height: 210px;
        object-fit: cover;
        border-radius: 10px;
      }
    }
    // -------------------------------------------------------------

    .btnContainer {
      align-items: center;
      display: flex;
      gap: 15px;
      justify-content: center;
      margin: 20px;
      width: 100%;

      .closeBtn, .saveBtn {
        background-color: $primary;
        border-radius: 50px;
        color: $tertiary;
        font-size: 12px;
        font-family: $title;
        transition: all 0.2s ease-in-out;
        padding: 5px 22px;
        user-select: none;
        -webkit-tap-highlight-color: transparent; // removes blue highlight on mobile

        &:hover {
          scale: 1.1;
        }
      }

      .closeBtn {
        background-color: $danger;
      }
    } 
  }
}


.imageCarousel {
  margin-top: 20px;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
  // border: 1px solid black;

  .carouselImage {
    width: 100%;
    height: 100%; /* Ensures image fills the carousel slide */
    object-fit: cover; /* Ensures uniform image display while maintaining aspect ratio */
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    
  }
}
  

@media (min-width: 992px) {  

  .editNewsEventContainer, .uploadImgContainer, .updateImgContainer, .confirmDltContainer {
    .modalEditingSection, .modalContent {
      .header {
        .txtTitle {
          font-size: 25px; 
        }
      }
    }
  }

  .editNewsEventContainer {
    .modalEditingSection {
      .imageCarousel {
        .imageContainer {
          
          .carouselImage {
            height: 260px;
          }
        }
      }
    
  
      .noImg {
        height: 260px;
      }
    }
  }
}
