@import "../../../Users/landing/signInModule/global.scss";
@import "../../../Users/landing/signInModule/stylesVariables.scss";

.markerContainer {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    width: 100%;

    .header {
        align-items: center;
        background-color: $secondary;
        border-radius: 0 0 90px 0;
        display: flex;
        height: 100px;
        justify-content: center;
        margin-bottom: 20px;
        width: 86%;
        flex-shrink: 0;
        flex-grow: 0;
    
        .txtTitle {
          color: $tertiary;
          font-size: 21px;
        }
    }

    .listHeader {
        font-size: 21px;
        margin-left: 35px; 
    }

    .listCont {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        flex-shrink: 0;
        margin: 0 35px;
        
        .btns {
            display: flex;
            gap: 10px;
            align-self: flex-end;

            button {
                background-color: $primary;
                border-radius: 30px;
                color: $tertiary;
                font-family: $title;
                font-size: 11px;
                padding: 0 20px;
                transition: all 0.2s ease-in-out;
                user-select: none;
                -webkit-tap-highlight-color: transparent; // removes blue highlight on mobile
        
                &:hover {
                    scale: 1.1;
                }
            }

            .addBtn {
                overflow: hidden;
                display: flex;

               // input {
                //    position: absolute;
               //     width: 100%;
               //     opacity: 0;
               //    cursor: pointer;
                //}
            }

            .deleteBtn {
                background-color: $danger;
            }

            .cancelBtn {
                color: $fontColor1;
                background-color: $outOfFocus;
            }
        }

        .iconList {
            border-bottom: 1.5px solid $outOfFocus;
            border-top: 1.5px solid $outOfFocus;
            display: flex;
            gap: 30px;
            justify-content: center;
            padding: 10px 0;
            margin-top: 15px;
            overflow-y: scroll;

            .marker {
                position: relative;

                img {
                    height: 25px;
                    width: 25px;
                }

                .iconOverlay {
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
                    
                    img {
                        position: absolute;
                        top: -5px;
                        right: -10px;
                        width: 20px;
                        height: 20px;
                    }
                }
            }
        }
    }

    .tblWrapper {
        margin: 0 15px;

        table {
            border-collapse: collapse;
            table-layout: fixed;
            width: 100%;

            th, td {
                border-bottom: 1.5px solid $outOfFocus;
                font-family: $subTitle;
                font-size: 11px;
                padding: 12px 5px;
                text-align: center;
                user-select: none;
                -webkit-tap-highlight-color: transparent; // removes blue highlight on mobile
            }

            button {
                transition: all 0.2s ease-in-out;
          
                &:hover {
                  scale: 1.2;
                }
            }

            .actionBtns {
                display: flex;
                justify-content: center;
                gap: 15px;
            }

            .icon {
                height: 15px;
                width: 15px;
            }
        }
    }
}

.confirmation, .modal {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 5;
}

@media (min-width: 992px) {
    .markerContainer {
        .header {
            border-radius: 0 0 150px 0;
            padding: 80px 0;

            .txtTitle {
                font-size: 40px;
            }
        }

        .listHeader {
            font-size: 31px;
        }

        .listCont {
            .btns {
                button {
                    border-radius: 30px;
                    font-size: 18px;
                    padding: 0 30px;
                }
            }

            .iconList {
                .marker {
                    img {
                        height: 30px;
                        width: 30px;
                    }
                }
            }
        }

        .tblWrapper {
            table {

                th, td {
                    font-size: 16px;
                }

                .icon {
                    height: 23px;
                    width: 23px;
                }
            }
        }
    }
}