
@import "../../../Users/landing/signInModule/global.scss";
@import "../../../Users/landing/signInModule/stylesVariables.scss";


.modalContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  width: 100%;  

  .header {
    align-items: center;
    background-color: $secondary;
    border-radius: 0 0 90px 0;
    display: flex;
    height: 100px;
    justify-content: center;
    margin-bottom: 20px;
    width: 86%;

    .txtTitle {
      color: $tertiary;
      font-size: 21px;
    }
  }

  .listHeader {
    font-size: 21px;
    margin-left: 35px; 
  }

  .modalsList {
    display: flex;
    gap: 20px;
    padding: 10px 10px;
    overflow: scroll;
    flex-shrink: 0;
    flex-grow: 0;

    .infoContainer {
      align-items: center;
      background-color: $tertiary;
      border-radius: 10px;
      box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.23);
      display: flex;
      padding: 10px 15px;
      
      .txtTitle{
        font-family: $subTitle;
        font-size: 11px;
        width: 130px;
      }

      button {
        background-color: $primary;
        border-radius: 30px;
        color: $tertiary;
        font-family: $title;
        font-size: 11px;
        padding: 0 20px;
        transition: all 0.2s ease-in-out;

        &:hover {
          scale: 1.1;
        }
      }
    }
  }

  .btnContainer {
    align-self: flex-end;

    .saveBtn, .uploadBtn {
      background-color: $primary;
      border-radius: 20px;
      box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.23);
      color: $tertiary;
      font-size: 15px;
      
      margin: 20px 20px 5px 20px;
      padding: 5px 20px;
      transition: all 0.2s ease-in-out;
  
      &:hover {
        scale: 1.1;
      }
    }
  }
  

  .modalEditingSection {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    position: relative;
    width: 100%;
  
    .modal {
      background-color: $tertiary;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      margin: 0 20px;
      max-width: 500px;
      padding: 20px;

      .headerBg {
        margin: 0 0 15px 0;
  
        .txtTitle {
          background-color: $tertiary;
          border-radius: 20px;
          font-size: 15px;
          padding: 0 5px;
          position: absolute;
          top: 23px;
          z-index: 1;
        }
      }

      .imageContainer {
        display: flex;
        gap: 5px;
        margin-top: 10px;
        margin: 0 -10px 10px -10px;
        position: relative;
        max-width: 400px;
        z-index: 0;
  
        .featuredImage {
          width: 250px;
  
          img {
            border-radius: 10px;
          }
        }
        .overlay {
          align-items: center;
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 20px 20px 0 0;
          display: flex;
          height: 98%;
          justify-content: center;
          left: 0;
          opacity: 0;
          position: absolute;
          top: 0;
          transition: all 0.2s ease-in-out;
          width: 100%;

          .uploadBtn {
            background-color: $primary;
            border-radius: 30px;
            color: $tertiary;
            font-size: 15px;
            padding: 5px 20px;
            transition: all 0.2s ease-in-out;
          }
        }

        input {
          position: absolute;
          height: 100%;
          left: 0;
          opacity: 0;
          top: 0;
          width: 100%;
          cursor: pointer;
        }

        &:hover .overlay {
          opacity: 1;
        }

        &:hover .uploadBtn {
          scale: 1.1;
        }
      }

      .infoContainer {
        background-color: black;
        border-radius: 10px 70px 0 0;
        margin-bottom: -20px;
        margin-top: auto;
        padding: 10px 22px 0 22px;
        transition: all 0.2s ease-in-out;

        .description, .technologies {
          height: 100%;
  
          textarea {
            border: 1px solid $tertiary;
            border-radius: 5px;
            color: $tertiary;
            font-size: 8px;
            margin-bottom: 15px;
            margin-top: 10px;
            height: 100%;
            padding: 5px;
            resize: none;
            outline: transparent;
            overflow: hidden;
            width: 90%;
          }
        }

        .description {

          textarea {
            background-color: black;
          }
        }

        .technologies {

          textarea {
            background-color: $primary;
          }
        }

        &.infoContainer.active {
          background-color: $primary;
        }

        .btns {
          margin-top: 15px;
          display: flex;
          margin-left: -10px;
  
          li {
            color: $tertiary;
            list-style-type: none;
  
            span {
              border-radius: 7px 7px 0 0;
              font-family: $title;
              font-size: 9px;
              margin-right: 5px;
            }
  
            .descBtn {
              background-color: black;
              padding: 5px 10px 0 10px;
            }
  
            .techBtn {
              background-color: $primary;
              padding: 5px 10px 0 10px;
            }
          }
        }
      }
    }
  }
}
.slick-arrow {
  color: $secondary;
}

.line { //line separator
  border-bottom: 1px solid $outOfFocus;
  width: 60%;
}

@media (min-width: 420px) {
  .modalContainer {
    .modalEditingSection {
      .modal {
        .headerBg {
          margin: 0 0 20px 0; 
          .txtTitle {
            font-size: 25px;
          }
        }
        .imageContainer {
          .featuredImage {
            width: 100%;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .modalContainer {
    .modalEditingSection {
      .modal {
        .headerBg {
          margin: 0 0 20px 0; 
          .txtTitle {
            font-size: 25px;
          }
        }

        .infoContainer {
          .description, .technologies {
            textarea {
              font-size: 10px;
            }
          }
          
          .btns {
            li {
              span {
                border-radius: 10px 10px 0 0;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .modalContainer {
      .header {
          border-radius: 0 0 150px 0;
          padding: 80px 0;

          .txtTitle {
              font-size: 40px;
          }
      }

      .listHeader {
        font-size: 31px;
      }

      .modalsList {
        .infoContainer {
          .txtTitle {
            font-size: 15px;
          }

          button {
            font-size: 15px;
            padding: 2px 25px;
          }
        }
      }
  }
}
