
@import "../../../Users/landing/signInModule/global.scss";
@import "../../../Users/landing/signInModule/stylesVariables.scss";


.modalContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-x: hidden;
  width: 100%;  

  .header {
    align-items: center;
    background-color: $secondary;
    border-radius: 0 0 90px 0;
    display: flex;
    height: 100px;
    justify-content: center;
    margin-bottom: 20px;
    width: 86%;
    flex-shrink: 0;
    flex-grow: 0;

    .txtTitle {
      color: $tertiary;
      font-size: 21px;
    }
  }

  .listHeader {
    font-size: 21px;
    margin-left: 35px; 
  }

  .modalsList {
    display: flex;
    gap: 20px;
    padding: 10px 10px;
    overflow-x: scroll;
    flex-shrink: 0;
    flex-grow: 0;
    scrollbar-width: thin; // Makes scrollbar thinner
    scrollbar-color: $primary $outOfFocus;

    .infoContainer {
      align-items: center;
      background-color: $tertiary;
      border-radius: 10px;
      box-shadow: 0px 3px 3px 0px rgba(0,0,0,0.23);
      display: flex;
      padding: 10px 15px;
      
      .txtTitle{
        font-family: $subTitle;
        font-size: 11px;
        width: 130px;
      }

      button {
        background-color: $secondary;
        border-radius: 30px;
        color: $tertiary;
        font-family: $title;
        font-size: 11px;
        padding: 0 20px;
        transition: all 0.2s ease-in-out;
        user-select: none;
        -webkit-tap-highlight-color: transparent; // removes blue highlight on mobile

        &:hover {
          scale: 1.1;
        }
      }
    }

    &::-webkit-scrollbar {
      width: 8px;       // Width of vertical scrollbar
      height: 8px;      // Height of horizontal scrollbar (if applicable)
    }
  
    &::-webkit-scrollbar-track {
      // background-color: $secondary; // Background color of the track
      border-radius: 10px;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: $primary;    // Color of the scrollbar thumb
      border-radius: 10px;
      // border: 2px solid $tertiary; // Padding around thumb for space from track
    }
  }

  .btnSave {
    background-color: $primary;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.23);
    color: $tertiary;
    font-size: 15px;
    align-self: flex-end;
    margin: 20px 20px 5px 20px;
    padding: 5px 20px;
    transition: all 0.2s ease-in-out;
    user-select: none;
    -webkit-tap-highlight-color: transparent; // removes blue highlight on mobile

    &:hover {
      scale: 1.1;
    }
  }

  .btnContainer {
    align-self: flex-end;

    .saveBtn, .uploadBtn {
      background-color: $primary;
      border-radius: 20px;
      box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.23);
      color: $tertiary;
      font-size: 15px;
      
      margin: 20px 20px 5px 20px;
      padding: 5px 20px;
      transition: all 0.2s ease-in-out;
  
      &:hover {
        scale: 1.1;
      }
    }
  }
  

  .modalEditingSection {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 20px 0;
    position: relative;
    width: 100%;
  
    .modal {
      background-color: $tertiary;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      padding: 10px 25px !important;
      max-width: 400px;
      width: 90%;
      padding: 10px;

      .headerBg {
        margin: 0 0 15px 0;
  
        .txtTitle {
          background-color: $tertiary;
          border-radius: 20px;
          font-size: 15px;
          padding: 0 5px;
          position: absolute;
          top: 20px;
          margin-left: 30px;
          z-index: 1;
          border: 1px solid red;
        }
      }

      .uploadedImg {
        .imageCarousel {
          max-width: 400px;
          width: 100%;
          
          .imageContainer {
            position: relative;
            
            .carouselImage {
              width: 100%;
              height: 200px;
              border-radius: 20px;
              object-fit: cover;
            }

            .overlay {
              align-items: center;
              background-color: rgba(0, 0, 0, 0.5);
              border-radius: 20px;
              display: flex;
              flex-direction: column;
              height: 100%;
              gap: 10px;
              justify-content: center;
              left: 0;
              opacity: 0;
              position: absolute;
              top: 0;
              transition: all 0.2s ease-in-out;
              width: 100%;
              margin-bottom: 20px;
  
              .btnSet1 {
                display: flex; 

                .saveBtn, .deleteBtn {
                  font-family: $title;
                  background-color: $primary;
                  border-radius: 20px;
                  box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.23);
                  color: $tertiary;
                  font-size: 10px;
                  
                  margin: 0 10px;
                  padding: 5px 20px;
                  transition: all 0.2s ease-in-out;
              
                  &:hover {
                    scale: 1.1;
                  }
                }
                .deleteBtn {
                  background-color: $danger;
                }
              }
  
              .btnSet2 {
                .uploadBtn {
                  background-color: $primary;
                  border-radius: 30px;
                  color: $tertiary;
                  font-size: 10px;
                  padding: 5px 20px;
                  transition: all 0.2s ease-in-out;
                  
                  &:hover {
                    scale: 1.1
                  }
                }
              }
            }
          }

          &:hover .overlay {
            opacity: 1;
          }
        }
      }

      .imageContainer {
        display: flex;
        gap: 5px;
        margin-top: 10px;
        margin: 0 0 10px 0;
        position: relative;
        max-width: 400px;
        z-index: 0;

        .noImg {
          background-color: $outOfFocus;
          border-radius: 20px;
          align-items: center;
          display: flex;
          justify-content: center;
          height: 200px;
          width: 100%;
  
          span {
            font-size: 15px;
          }
        }

        .overlay {
          align-items: center;
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 20px;
          display: flex;
          height: 100%;
          justify-content: center;
          left: 0;
          opacity: 0;
          position: absolute;
          top: 0;
          transition: all 0.2s ease-in-out;
          width: 100%;

          .uploadBtn {
            background-color: $primary;
            border-radius: 30px;
            color: $tertiary;
            font-size: 15px;
            padding: 5px 20px;
            transition: all 0.2s ease-in-out;
            user-select: none;
            -webkit-tap-highlight-color: transparent; // removes blue highlight on mobile
          }
        }

        input {
          position: absolute;
          height: 100%;
          left: 0;
          opacity: 0;
          top: 0;
          width: 100%;
          cursor: pointer;
          user-select: none;
          -webkit-tap-highlight-color: transparent; // removes blue highlight on mobile
        }

        &:hover .overlay {
          opacity: 1;
        }
      }

      .infoContainer {
        align-self: center;
        background-color: black;
        border-radius: 10px 70px 0 0;
        // margin-bottom: -10px;
        padding: 10px 22px 0 22px;
        transition: all 0.2s ease-in-out;
        width: 95%;

        .description, .technologies {
          height: 100%;
  
          textarea {
            border: 1px solid $tertiary;
            border-radius: 5px;
            color: $tertiary;
            font-size: 8px;
            margin-bottom: 15px;
            margin-top: 10px;
            height: 100%;
            padding: 5px;
            resize: none;
            outline: transparent;
            overflow: hidden;
            width: 90%;
            text-align: justify;
            text-justify: inter-word;
          }
        }

        .description {

          textarea {
            background-color: black;
          }
        }

        .technologies {

          textarea {
            background-color: $primary;
          }
        }

        &.infoContainer.active {
          background-color: $primary;
        }

        .btns {
          margin-top: 15px;
          display: flex;
          margin-left: -10px;
  
          li {
            color: $tertiary;
            list-style-type: none;
            user-select: none;
            -webkit-tap-highlight-color: transparent; // removes blue highlight on mobile
  
            span {
              border-radius: 7px 7px 0 0;
              font-family: $title;
              font-size: 9px;
              margin-right: 5px;
            }
  
            .descBtn {
              background-color: black;
              padding: 5px 10px 0 10px;
            }
  
            .techBtn {
              background-color: $primary;
              padding: 5px 10px 0 10px;
            }
          }
        }
      }
    }
  }
}

.popUpContainer {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  position: absolute;
  z-index: 3;

  .uploadImageContainer { // container for changing current uploaded image
      align-items: center;
      background-color: $tertiary;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      margin: 0 20px;
      max-width: 350px;
      padding: 20px;
      position: absolute;
      z-index: 1;

      .header {
        background-color: $secondary;
        border-radius: 0 0 50px 50px;
        text-align: center;
        margin: -20px 0 20px 0;
        padding: 10px 20px;
        width: 70%;

        .txtTitle {
            color: $tertiary;
            font-size: 20px;
        }
      }

      .customLabel {
        align-items: center;
        display: flex;
        gap: 20px;
        justify-content: center;
        margin-bottom: 20px;

        .browseBtn {
          background-color: $primary;
          border-radius: 30px;
          color: $tertiary;
          font-family: $title;
          padding: 5px 15px;
          transition: all 0.2s ease-in-out;
          user-select: none;
          -webkit-tap-highlight-color: transparent; // removes blue highlight on mobile
        }

        .fileName {
          border: 1.5px solid black;
          border-radius: 5px;
          padding: 2px 15px;
        }

        input {
          opacity: 0;
          position: absolute; 
          cursor: pointer;
          user-select: none;
          -webkit-tap-highlight-color: transparent; // removes blue highlight on mobile
        }

        &:hover .browseBtn {
          scale: 1.1;
        }
        
      }
    }

    .updatePreview { 
      img {
        border-radius: 10px;
        width: 250px;
      }
    }

    // MILLARD STYLES
    .preview { // container when adding image
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 250px;

      .txtTitle {
        font-size: 20px;
      }

      .imageCarousel {
        margin-top: 20px; /* Space above carousel */
        width: 100%;
        // max-width: 250px; /* Adjust based on your layout */
        margin: 0 auto;
        padding: 10px;
        // border: 1px solid black;
  
        // .slickSlide {
        //   display: flex;
        //   justify-content: center;
        //   align-items: center;
        // }

        .carouselImage {
          width: 100%;
          height: 200px;
          object-fit: cover; /* Ensures uniform image display while maintaining aspect ratio */
          border-radius: 10px;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
        }
      }
    }

    .btnContainer {
      display: flex;
      gap: 20px;
      margin-top: 15px;
      
      .uploadBtn, .cancelBtn {
        font-family: $title;
        font-size: 13px;
        transition: all 0.2s ease-in-out;
        padding: 5px 20px;
        border-radius: 30px;
        box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.23);
        user-select: none;
        -webkit-tap-highlight-color: transparent; // removes blue highlight on mobile
        
        &:hover {
          scale: 1.1;
        }
      }

      .uploadBtn {
        background-color: $primary;
        color: $tertiary;
      }

      .cancelBtn {
        background-color: $outOfFocus;
      }
    }
  }

.slickSlide {
  // background-color: black;
  overflow: hidden;
  border-radius: 20px;
  padding: 5px 10px;
  width: 100%;
}

.line { //line separator
  border-bottom: 1px solid $outOfFocus;
  width: 60%;
}

@media (min-width: 420px) {
  .modalContainer {
    .modalEditingSection {
      .modal {
        .headerBg {
          margin: 0 0 20px 0; 
          .txtTitle {
            font-size: 25px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .modalContainer {
    .modalEditingSection {
      .modal {
        .headerBg {
          margin: 0 0 20px 0; 
          .txtTitle {
            font-size: 25px;
          }
        }

        .infoContainer {
          .description, .technologies {
            textarea {
              font-size: 10px;
            }
          }
          
          .btns {
            li {
              span {
                border-radius: 10px 10px 0 0;
                font-size: 12px;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .modalContainer {
      .header {
          border-radius: 0 0 150px 0;
          padding: 80px 0;

          .txtTitle {
              font-size: 40px;
          }
      }

      .listHeader {
        font-size: 31px;
      }

      .modalsList {
        .infoContainer {
          .txtTitle {
            font-size: 15px;
          }

          button {
            font-size: 15px;
            padding: 2px 25px;
          }
        }
      }
  }
}
