.container {
    padding: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-size: 24px;
}

.btn{
    margin-bottom: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background-color: #218838;
    }
}

.table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    overflow-x: auto; 


        th, td {
            border: 1px solid #ddd;
            padding: 12px;
            text-align: center;
            font-size: 16px;
            word-wrap: break-word;
            white-space: normal;
        }

        th {
            background-color: #007bff;
            color: white;
        }

        td {
            background-color: #fff;
        }
}



.editBtn { 
    padding: 7px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #17a2b8;
    color: white;
    margin-right: 5px;

    &:hover {
        background-color: #138496;
    }
}

.delBtn { 
    padding: 7px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #dc3545;
    color: white;
    
    &:hover {
        background-color: #c82333;
    }
}


.editBtn:disabled, .delBtn:disabled {
    opacity: 0.5; /* Make the button look disabled */
    cursor: not-allowed; /* Change cursor to indicate non-clickable */
}
