@import "../../../Users/landing/signInModule/global.scss";
@import "../../../Users/landing/signInModule/stylesVariables.scss";

.userManageContainer {
    height: 100%;
    overflow-x: hidden;
    width: 100%;

    .header { 
        align-items: center;
        background-color: $secondary;
        border-radius: 0 0 90px 0;
        display: flex;
        height: 100px;
        justify-content: center;
        width: 86%;

        .txtTitle {
        color: $tertiary;
        font-size: 21px;
        }
    }

    .tblWrapper {
        display: flex;
        flex-direction: column;
        margin: 40px 15px 0 15px;

        button {
            transition: all 0.2s ease-in-out;
    
            &:hover {
            scale: 1.2;
            }
        }

        .btn {
            align-self: flex-end;
            margin-bottom: 10px;
        
            .addBtn {
                background-color: $primary;
                border-radius: 20px;
                box-shadow: 0px 3px 0px 0px rgba(0,0,0,0.23);
                color: $tertiary;
                font-family: $title;
                padding: 5px 20px;
            }
        }

        .table {
            width: 100%;
            border-collapse: collapse;
            table-layout: fixed;

            th, td {
                border-bottom: 1.5px solid $outOfFocus;
                font-family: $subTitle;
                font-size: 11px;
                padding: 12px 5px;
                text-align: center;
            }

            .nameColumn { 
                display: flex;
                gap: 10px;
                justify-content: center;

                // remove userIcon for now

                // .userIcon {
                //     background-color: $primary;
                //     border-radius: 50px;
                //     height: 30px;
                //     width: 30px;
                // }
        
                .userInfo {
                    display: flex;
                    flex-direction: column;
                    text-align: left;
                    width: 80px;
                }
            }

            .email {
                color: darkgray;
                font-size: 7.5px;
            }

            .role {
                border-radius: 10px;
                color: $tertiary;
                cursor: default;
                font-family: $title;
                font-size: 7px;
                padding: 5px 13px;
                text-transform: uppercase;

                &.admin {
                    background-color: $danger;
                }

                &.staff {
                    background-color: $guest;
                }
            }

            .actionBtns {
                display: flex;
                justify-content: center;
                gap: 15px;
            }

            .icon {
                height: 15px;
                width: 15px;
            }
        }
    }
}

.confirmation, .modal {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 5;
}


// RESPONSIVE DESIGN

@media (min-width: 992px) {
    .userManageContainer {
        .header {
            border-radius: 0 0 150px 0;
            padding: 80px 0;

            .txtTitle {
                font-size: 40px;
            }
        }

        .tblWrapper {
            .btn {
                .addBtn {
                    border-radius: 40px;
                    font-size: 23px; 
                    padding: 5px 30px;
                }
            } 

            .table {
                th, td {
                    font-size: 15px;
                }

                .nameColumn {
                    .userInfo {
                        width: 90px;
                    }
                }

                .email {
                    font-size: 10px;
                }

                .role {
                    border-radius: 30px;
                    font-size: 13px;
                    padding: 5px 18px;
                }

                .icon {
                    height: 23px;
                    width: 23px;
                }
            }
        }   
    }
}


